body {
  color: #fff;
	font-size: 16px;
}

section{
	margin: 20px 0 30px 0;
}

.well{
	overflow: auto;
}

.jumbotron{
	background: #bf5a16;
}

.carousel{
	min-height: 500px;
	margin-bottom: 60px;
}

.carousel-caption{
	z-index: 10;
	text-align: left;
	font-size: 22px;
	top: 70px;
	right: 10%;
	left: 10%
}

.carousel .item{
	height: 500px;
	background-color: #777;
}

.carousel-inner > .item > img{
	position: absolute;
	top:0;
	left:0;
	min-width:100%;
	height: 500px;
}

.server-img{
	width: 100%;
}

/*marketing section*/

.marketing{
	text-align: center;
}

.marketing h2{
	font-weight: normal;
}

ul{
	list-style: none;
}

.price strong{
	font-size: 32px;
}